<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<title>Notification</title>
<link rel="stylesheet" href="style.css">
<script src="script.js"></script>
</head>

<body style="margin:0;">
<div class="main" style=" background: #212529;height: 100%; max-width: 500px;margin: 0 auto;">
<table cellpadding="20" cellspacing="0" width="100%"
style="color:#FFFFFF; font-family: 'Roboto', sans-serif; font-size: 16px; background-image: url(https://iacsocresources.s3.amazonaws.com/header-sep.png);background-position: center 65px;background-repeat: no-repeat;">
<tbody>
<tr>
<td style="padding: 15px;">
<!-- <img src="iac-lg.png" alt="iac-logo" style="max-width:100px;"> -->
<img src="https://iacsocresources.s3.amazonaws.com/iac-lg.png" title="IAC" alt="IAC logo" style="max-width:100px;">
</td>
</tr>
<tr>
<td colspan="2">
<div style="max-width:500px;width:100%;margin:0 auto;">
<p style="color: #c5c5c5; line-height: 22px">Hello <span style="color:aquamarine;">{{user}}</span>,</p>
<p style="padding-left:25px;color: #c5c5c5; line-height: 22px; margin: 40px 0;">
We are reaching out to notify you that the rule <span style="color:aquamarine;">{{rule}}</span> has been
triggered
within the organization <span style="color:aquamarine;">{{organization}}</span>.
</p>
<p style="padding-left:25px; color: #c5c5c5;">Click <a href="{{incident_url}}" style="color:#22c4a5;">here</a> to check results.</p>
<p style="color: #c5c5c5; line-height: 22px; margin: 75px 0;">
Regards,<br/>
SOC team
</p>
<p style="color: #c5c5c5; margin: 5px 0; font-size: 14px">
Triggered time: {{trigger_time}}
</p>
</div>
</td>
</tr>
</tbody>
</table>
</div>
</body>
</html>